# Use PHP54 Single php.ini as default
AddHandler application/x-httpd-php54s .php

#<IfModule mod_php5.c>
# File modified on Fri Jun 28 08:00:38 2013 by server
# For security reasons, mod_php is not used on this server. Use a php.ini file for php directives
# php_value post_max_size           200M
# For security reasons, mod_php is not used on this server. Use a php.ini file for php directives
# php_value upload_max_filesize     200M
# For security reasons, mod_php is not used on this server. Use a php.ini file for php directives
# php_value memory_limit            500M
#</IfModule>

# BEGIN WordPress

# END WordPress
